---
import Navbar from "@components/Navbar";
import Footer from "@components/Footer";
import ThemeChange from "@components/ThemeChange";
import Head from '@components/Head'
const { title } = Astro.props;
const { desc } = Astro.props;
const { img } = Astro.props;
---

<html lang="en">

<Head title={title} desc={desc} img={img}>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
		rel="stylesheet">
</Head>

<body class="flex flex-col items-center h-[100svh]">
	<div class="w-full max-w-3xl flex-grow min-h-[90vh]">
		<Navbar>
			<ThemeChange />
		</Navbar>
		<div class="p-4 pb-10 mt-32">
			<slot />
		</div>
	</div>
	<Footer />
</body>

</html>


<script is:inline>

	function toggleDarkMode() {
		document.getElementById("theme-button").classList.toggle("swap-active");
		document.documentElement.dataset.theme = document.documentElement.dataset.theme === "winter" ? "night" : "winter";
		localStorage.theme = document.documentElement.dataset.theme === "winter" ? "light" : "dark";
	}
	window.toggleDarkMode = toggleDarkMode
	if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
		document.documentElement.dataset.theme = "night"
		document.getElementById("theme-button").classList.remove("swap-active");
	} else {
		document.getElementById("theme-button").classList.add("swap-active");
		document.documentElement.dataset.theme = "winter"
	}

</script>