---
import Page from "@layouts/page";
---

<Page title="About me">
	<h1>Who is this guy?!</h1>
	<p>
		My name is Dylan Brown, thanks for asking. Im a software engineering
		graduate from the University of Victoria. I never touched a piece of
		code 6 years ago and yet here we are. Currently im all about web
		development of all shapes and sizes.<br><br>

		Outside of software, Im your typical we(s)t coast outdoor buff. So if
		you ever wonder what I will spend my hard earned money on, its probably
		freeze dried vegan meals for my next mountain rambling excursion. Oh and
		I also enjoy photography, digital design, video games, and anything
		space/tech related.
	</p>
</Page>