---
import Welcome from "@layouts/welcome";

---

<Welcome>
	<div class="p-4  mt-24">
		<div class="h-full flex flex-col space-y-3">
			<a href="/projects">
				<button
					class="rounded-lg p-1 md:p-3 hover:bg-primary/30 hover:text-primary  cursor-pointer transition-all">
					<div class="flex flex-col justify-between">

						<div class="md:w-2/3 m-auto">
							<h1 class="text-5xl font-bold">Software</h1>
							<p class="py-5">Take a look at some of my
								software
								projects
								from over the years. The good, the bad, and
								the
								ugly.</p>

						</div>
					</div>
				</button>
			</a>

			<a href="/pics">
				<button
					class="rounded-lg p-1 md:p-3 hover:bg-accent/30 hover:text-accent cursor-pointer transition-all">
					<div class="flex flex-col justify-between">
						<!-- <img src="https://placeimg.com/260/400/arch"
                            class="rounded-lg shadow-2xl h-48 w-48 object-cover " /> -->
						<div class="md:w-2/3 m-auto">
							<h1 class="text-5xl font-bold ">Photography
							</h1>
							<p class="py-5">Before I wrote code, I
								documented
								the world around me through photography.
								Take a
								peek at some of the shots ive gotten along
								the
								way.</p>
							<!-- <button class="btn btn-primary">Get Started</button> -->
						</div>
					</div>
				</button>
			</a>

			<a href="/blog">
				<button
					class="rounded-lg p-1 md:p-3 hover:bg-secondary/30 hover:text-secondary cursor-pointer transition-all">
					<div class="flex flex-col  justify-between">
						<!-- <img src="https://placeimg.com/260/400/arch"
                            class="rounded-lg shadow-2xl h-48 w-48 object-cover " /> -->
						<div class="md:w-2/3 m-auto">
							<h1 class="text-5xl font-bold">Blog</h1>
							<p class="py-5">These are for the off chance
								that
								someone is looking to do the same weird
								derived
								thing im trying to do.</p>
							<!-- <button class="btn btn-primary">Get Started</button> -->
						</div>
					</div>
				</button>

			</a>

		</div>
	</div>
</Welcome>